.container-itemList {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  text-align: center;
}

.container-item-itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 25vw;

  margin: 25px 10px;
  border-style: solid;
  border-color: white;
}

.container-item-itemList > img {
  width: 100%;
  height: 355px;
}

.container-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-detalles:hover {
  font-size: larger;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 3px;
}

@media (max-width: 800px) {
  .container-item-itemList {
    width: 30vw;
    height: 516px;
  }

  .container-details {
    width: 90%;
  }
}

@media (max-width: 430px) {
  .container-itemList {
    width: 100%;
    flex-direction: column;
  }

  .container-item-itemList {
    width: 90%;
    height: 200px;
    flex-wrap: nowrap;
  }

  .container-details {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
  }

  .item-title {
    position: absolute;
    margin-left: 135px;
    margin-bottom: 110px;
    font-size: 18px;
  }

  .container-item-itemList > img {
    height: 100%;
    width: 140px;
  }
}
