body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container-login {
  background-color: rgb(0, 0, 0);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: larger;
}

.container-login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
  padding: 100px;
  margin-bottom: 100px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 60%;
}

a:hover {
  color: black;
  background-color: white;
}

input {
  height: 35px;
  border-radius: 0.4rem;
  padding-left: 5px;
  font-size: 20px;
}

.h3-title-register {
  font-size: 20px;
  margin: 10px;
}

button {
  color: black;
  font-size: 15px;
  border-radius: 7px;
  height: 20px;
}

button:hover {
  background-color: chartreuse;
}

.button-register-login {
  width: 50%;
}

.container-inputs-login {
  display: flex;
  width: 70%;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 7px;
}

.container-buttons-login {
  display: flex;
  width: 60%;
  margin-top: 20px;
  flex-direction: column;
  gap: 1px;
}

.login-img {
  width: 420px;
}

@media (max-width: 1024px) {
  .login-img {
    width: 350px;
    height: 400px;
  }

  .container-inputs-login {
    width: 100%;
  }

  .container-buttons-login {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .login-img {
    width: 300px;
    height: 320px;
  }

  .container-inputs-login {
    width: 300px;
  }

  .container-buttons-login {
    width: 250px;
  }

  button {
    margin-bottom: 0;
    height: 30px;
  }

  form {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .h3-title-register {
    font-size: 15px;
  }

  a,
  button {
    pointer-events: none;
  }

  .container-buttons-login {
    margin-bottom: 3px;
  }
}
