.container-cart {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-top: 50px;
}
.h2-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}
.container-product-cart {
  width: 90%;
  border-color: white;
  border-style: solid;

  display: flex;
}

.container-cart-2 > img {
  width: 100px;
  height: 100px;
}

.container-cart-2 {
  align-items: center;
  display: flex;
  width: 65%;
}

.buttons-cart {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}

.buttons-cart > button {
  height: 35px;
  width: 150px;
}

.links-container {
  margin-top: 50px;
  display: flex;
  gap: 500px;
}

.quantity-container {
  margin-left: 50px;
}

.button-cart-clean {
  height: 40px;
  width: 100px;
}

.links > h2:hover {
  border-color: white;
  border-style: solid;
}

.carrito-vacio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 150px;
  gap: 20px;
}

.h2-seguir-comprando:hover {
  border-color: white;
  border-style: solid;
}

@media (max-width: 800px) {
  .container-product-cart {
    width: 80%;
  }
}

@media (max-width: 430px) {
  .container-product-cart {
    width: 90%;
  }
  .buttons-cart {
    margin-left: 50px;
  }

  .links-container {
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 300px;
  }
}
