.container-cart {
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-top: 20px;
}
.h2-cart-title {
  font-size: 40px;
  margin-bottom: 10px;
}
.h2-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 10px;
}
.container-product-cart {
  width: 90%;
  border-color: white;
  border-style: solid;

  display: flex;
}

.container-cart-2 > img {
  width: 100px;
  height: 100px;
}

.container-cart-2 {
  align-items: center;
  display: flex;
  width: 40%;
}

.buttons-cart {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

.buttons-cart > button {
  color: black;
  height: 35px;
  width: 150px;
}

.links-container {
  width: 80%;
  margin-top: 50px;
  display: flex;
  gap: 700px;
}

.quantity-container {
  margin-left: 50px;
}

.subTotal-container {
  width: 50%;
}

.button-cart-clean {
  color: black;
  height: 40px;
  width: 100px;
}

.links > h2:hover {
  border-color: white;
  border-style: solid;
}

.carrito-vacio-container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.carrito-vacio-container > img {
  width: 300px;
  height: 350px;
}

.h2-seguir-comprando:hover {
  border-color: white;
  border-style: solid;
}

@media (max-width: 800px) {
  .container-product-cart {
    width: 80%;
  }
}

@media (max-width: 430px) {
  .container-product-cart {
    width: 95%;
    height: 150px;
  }

  .h2-cart-title {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .h2-container {
    display: none;
  }

  .container-cart-2 {
    height: 100%;
    width: 120px;
  }
  .container-cart-2 > img {
    height: 150px;
    width: 150px;
  }

  .buttons-cart {
    margin-left: 60px;
    width: 150px;
    height: 40%;
    margin-top: 65px;
    gap: 30px;
  }

  .subTotal-container {
    width: 100%;
    height: 20%;
  }

  .subTotal-container > h3 {
    width: 100%;
    text-align: center;
  }
  .quantity-container {
    margin-bottom: 80px;
    margin-left: 0;
  }
  .quantity-container > h3 {
    text-align: center;
    width: 200px;
  }

  .links-container {
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .h2-cart-finish {
    font-size: 25px;
  }

  .button-cart-clean {
    display: none;
  }

  .carrito-vacio-container {
    width: 100vw;
  }

  .carrito-vacio-container > h2 {
    width: 100%;
    text-align: center;
    padding: 5px;
  }

  .carrito-vacio-container > img {
    width: 200px;
    height: 250px;
  }
}
