.h1-home {
  font: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15px;
  font-size: 65px;
}

.container-img-home {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(17, 2, 2);
  color: white;
}

.button-home {
  border-radius: 10px;
  background-color: black;
  border-color: white;
  border: solid;
  cursor: pointer;
  width: 300px;
  height: 70px;
  margin-bottom: 100px;
  font-size: 30px;
  color: white;
}

.button-home:hover {
  background-color: white;
  color: black;
}

.gif-home {
  width: 25vw;
  height: 55vh;
}

@media (max-width: 1024px) {
  .gif-home {
    width: 35vw;
    height: 50vh;
  }
}

@media (max-width: 576px) {
  .gif-home {
    width: 75vw;
    height: 50vh;
  }

  .container-img-home > button {
    margin-bottom: 130px;
  }

  .h1-home {
    font-size: 0;
    visibility: hidden;
  }
}
