.container-orders {
  background-color: black;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;

  flex-direction: column;
  gap: 30px;
}

.h3-noOrders-orders {
  font-weight: 500;
  font-size: 50px;
}

.h2-seguir-comprando-orders:hover {
  font-size: 30px;
}

.h2-title-orders {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 100px;
  font-size: 50px;
}

.h2-id-orders {
  text-align: center;
  font-size: 15px;
}

.h2-total-orders {
  font-size: 20px;
}

@media (max-width: 450px) {
  .h3-noOrders-orders {
    font-size: 40px;
    text-align: center;
  }

  .h2-title-orders {
    text-align: center;
    margin-bottom: 100px;
    font-size: 30px;
  }
}
